createdAt: "2020-11-02T17:30:25.858Z"
updatedAt: "2020-11-02T17:30:46.228Z"
type: "SNIPPET_NOTE"
folder: "f4be61b8505bcdf00fd4"
title: "set a commit in the past"
description: "set a commit in the past"
snippets: [
  {
    name: ""
    mode: "text"
    content: "git commit --amend --no-edit --date=\"Sep 13 20:00:00 2020 -0600\""
  }
]
tags: [
  "git_date"
]
isStarred: false
isTrashed: false
