createdAt: "2019-10-09T09:33:52.666Z"
updatedAt: "2019-10-09T09:35:20.519Z"
type: "SNIPPET_NOTE"
folder: "ab21d9b8c8f4ac7cf2d1"
title: "tag an existing image in the ECR"
description: '''
  tag an existing image in the ECR
  after successfull login to the ECR
'''
snippets: [
  {
    name: "shell"
    mode: "text"
    content: '''
      MANIFEST=$(aws ecr batch-get-image --repository-name databahn-frontend --image-ids imageDigest=sha256:871619608b43bd73d4ab0dd63f633e6d7c523316416c34269e0fc8b5cddc9ebc --query 'images[].imageManifest' --output text)
      aws ecr put-image --repository-name databahn-frontend --image-tag backup --image-manifest "$MANIFEST"
      
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
