createdAt: "2018-12-06T10:46:48.986Z"
updatedAt: "2019-01-27T08:57:05.343Z"
type: "SNIPPET_NOTE"
folder: "60f2be28d5e3dfe51def"
title: "list of strings and streaming it"
description: "list of strings and streaming it"
snippets: [
  {
    name: ""
    mode: "Java"
    content: '''
      void userSelectsSomeAppliances() {
          String[] appliances = {
                  "appliance-washingMachine",
                  "appliance-refrigerator",
                  "appliance-freezer",
                  "appliance-oven",
                  "appliance-kettle",
                  "appliance-cableBox"
          };
          Arrays.stream(appliances).forEach(applianceName -> {
              WebElement appliance = findByAttribute("data-qa", applianceName);
              appliance.click();
          });
      }
    '''
  }
]
tags: [
  "java"
  "spring"
  "strings_list"
]
isStarred: false
isTrashed: false
