createdAt: "2018-07-25T12:25:36.993Z"
updatedAt: "2018-07-25T12:25:40.862Z"
type: "SNIPPET_NOTE"
folder: "60f2be28d5e3dfe51def"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
tags: []
isStarred: false
isTrashed: true
